<h4 class="display-6">Einloggen</h4>
<form #form="ngForm" (ngSubmit)="login($event, form)">
  <div class="form-group mb-3">
    <input
      type="email"
      placeholder="Email"
      class="form-control rounded-pill border-0 shadow-sm px-4"
      name="email"
      required
      autofocus
      email
      [(ngModel)]="loginForm.email"
      #email="ngModel" />
  </div>
  <div class="form-group mb-3">
    <input
      type="password"
      placeholder="Passwort"
      class="form-control rounded-pill border-0 shadow-sm px-4 text-primary"
      name="password"
      required
      [(ngModel)]="loginForm.password"
      #password="ngModel" />
  </div>
  <div class="text-center d-flex justify-content-between mt-3">
    <p><a routerLink="../password-reset">Haben Sie Ihr Passwort vergessen?</a></p>
  </div>
  <button
    type="submit"
    class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm"
    [disabled]="loading$ | async">
    Anmelden
  </button>
  <div class="text-center d-flex justify-content-between mt-4">
    <p>Neuer Kunde? <a routerLink="../register">Konto erstellen</a></p>
  </div>
</form>
