<h4 class="display-6">Logowanie</h4>
<form #form="ngForm" (ngSubmit)="resetPassword($event, form)">
  <div class="form-group mb-3">
    <input
      type="email"
      placeholder="Adres email"
      class="form-control rounded-pill border-0 shadow-sm px-4"
      name="email"
      required
      autofocus
      email
      [(ngModel)]="resetForm.email"
      #email="ngModel" />
  </div>
  <button
    type="submit"
    class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm"
    [disabled]="form.form.status === 'INVALID'">
    Neuses Passwort erstellen
  </button>
  <div class="text-center d-flex justify-content-between mt-4">
    <p><a routerLink="../login">Zurück zum anmelden</a></p>
  </div>
</form>
