<h3 class="my-4">Bemusterungstyp auswählen</h3>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Neubauwohnung </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="full-width" [formGroup]="newProjectForm" (ngSubmit)="newProjectFormSubmit()">
      <mat-form-field class="form-field me-2">
        <mat-label>Projektname</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="name!.hasError('required')"> Projektname erforderlich </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field me-2">
        <mat-label>Projektnummer</mat-label>
        <input matInput formControlName="code" />
        <mat-hint>aus der Email mit Link zu Bemusterung zu entnehmen</mat-hint>
        <mat-error *ngIf="code!.hasError('required')"> Projektnummer erforderlich </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Wohnungsnummer</mat-label>
        <input matInput formControlName="apartmentNumber" />
        <mat-error *ngIf="apartmentNumber!.hasError('required')">
          Wohnungsnummer erforderlich
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="newProjectForm.status === 'INVALID'"
        type="submit">
        Projekt erstellen
      </button>
    </form>
  </mat-expansion-panel>
</mat-accordion>
<div class="d-grid gap-3">
  <!-- <button class="btn btn-primary" type="button">Nowe mieszkanie</button>
    <button class="btn btn-primary" type="button" disabled>Remont mieszkania</button>
    <button class="btn btn-primary" type="button" disabled>Nowy dom</button>
    <button class="btn btn-primary" type="button" disabled>Remont domu</button> -->
</div>
