<div class="container-fluid">
  <div class="row">
    <table mat-table [dataSource]="rooms$" class="mat-elevation-z8 mat-table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nazwa pomieszczenia</th>
        <td mat-cell *matCellDef="let element">
          {{
            element.name
          }}
        </td>
      </ng-container>
      <ng-container matColumnDef="roomType">
        <th mat-header-cell *matHeaderCellDef>Typ pomieszczenia</th>
        <td mat-cell *matCellDef="let element">
          {{
            getRoomTypeName(element.roomType)
          }}
        </td>
      </ng-container>
      <ng-container matColumnDef="roomNumber">
        <th mat-header-cell *matHeaderCellDef>Numer z projektu</th>
        <td mat-cell *matCellDef="let element">
          {{
            element.roomNumber
          }}
        </td>
      </ng-container>
      <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef>Powierzchnia</th>
        <td mat-cell *matCellDef="let element">
          {{
            element.area
          }}
          m<sup>2</sup>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Akcje</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" (click)="deleteRoom(element.id)">Usuń</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>

<form [formGroup]="newRoomForm" (ngSubmit)="addRoom()">
  <div class="full-width my-4 stretched-form">
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6 col-xl-3">
          <mat-form-field class="form-field me-2">
            <mat-label>Typ pomieszczenia</mat-label>
            <mat-select formControlName="roomType">
              <mat-option
                *ngFor="let avaliableRoom of dataSrv.roomTypes$ | async"
                [value]="avaliableRoom.id"
                >{{ avaliableRoom.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
          <mat-form-field class="form-field me-2">
            <mat-label>Nazwa pomieszczenia</mat-label>
            <input type="text" matInput formControlName="name" />
            <mat-hint>Nazwa pomieszczenia jak w projecie</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
          <mat-form-field class="form-field me-2">
            <mat-label>Numer pomieszczenia</mat-label>
            <input type="text" matInput formControlName="roomNumber" />
            <mat-hint>Nume pomieszczenia jak w projecie</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
          <mat-form-field class="form-field">
            <mat-label>Powierzchnia</mat-label>
            <input
              type="number"
              matInput
              min="0"
              step="0.01"
              formControlName="area"
            />
            <mat-hint>Powierzchnia z projektu</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <button mat-raised-button extended color="primary" class="full-width mb-2" [disabled]="newRoomForm.status === 'INVALID'">
    <mat-icon>add_circle</mat-icon>
    Dodaj pomieszczenie
  </button>
</form>
<button mat-raised-button color="accent" class="full-width" (click)="openDialog()">
  Przejdź dalej
</button>
