<h1 mat-dialog-title>Dateien</h1>
<div mat-dialog-content>
  <mat-list>
    <form [formGroup]="descriptions">
      <mat-list-item *ngFor="let file of files">
        <div class="files-item">
          <a href="{{ file.url }}" target="_blank">{{ file.name }}</a>
          <div>
            <mat-form-field>
              <input matInput placeholder="Beschreibung" [formControlName]="file.id" />
            </mat-form-field>
            <button mat-raised-button class="ms-3" (click)="deleteFile(file.name, file.id)">
              <mat-icon>delete</mat-icon>
              Löschen
            </button>
          </div>
        </div>
      </mat-list-item>
    </form>
  </mat-list>
  <app-file-upload></app-file-upload>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button mat-button mat-dialog-close (click)="saveChanges()">Speichern</button>
</div>
