.elements-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    grid-auto-rows: minmax(100px, auto);
    &__card-title-group {
        justify-content: center !important;
    }
    &__image {
        width: auto !important;
        height: auto !important;
        max-height: 158px !important;
        max-width: 300px !important;
        margin-bottom: 1rem;
    }
    &__card-content {
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between !important;
        flex-grow: 1;
    }
    
}

.stretched-form {
    display: flex;
    .form-field {
        flex-grow: 1;
    }
}

.header-logo {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 56px;
}
// App v1



.breadcrumb-item.active {
    font-weight: 700;
}

.form-control {
    &.shadow-sm {
        &:focus {
            box-shadow: 0 0.125rem 0.25rem rgb(164 138 76 / 80%) !important;
        }
        &.ng-invalid.ng-touched {
            box-shadow: 0 0.125rem 0.25rem rgb(220 53 69 / 80%) !important
        }
    }
}

.variant {
    .img-variant {
        max-width: 300px;
    }
}

.debug-div {
    position: fixed;
    top: 20px;
    right: 20px;
    overflow: scroll;
    width: 300px;
    height: 300px;
}

fa-icon {
    svg {
        transition: 0.2s transform ease-in-out;
    }
    &.rotated {
        svg {
            transform: rotate(180deg);
        }
    }
}

.electric-equipment {
    .card {
        height: 100%;
        .card-top-img {
            max-height: 200px;
            align-self: center;
            width: auto;
            max-width: 100%;
        }
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

.view {
    &__image {
        max-width: 200px;
        max-height: 200px;
    }
    &__element {
        padding: 30px 0;
        border-bottom: 1px solid #a1a1a1;
        &:last-child {
            border-bottom: none;
        }
    }
}

.active-list-item {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.project-preview {
    section {
        // margin: 20px 0;
        margin: 10px 0;
    }
    @media print {
        img {
            max-width: 4cm;
        }
    }
}

.preview-element {
    position: relative;
    // margin: 30px 0;
    margin: 15px 0;
    padding: 10px 0;
    // padding: 20px 0;
    img {
        max-width: 100%;
        max-height: 200px;
    }
    p {
        margin-bottom: 0.6rem;
    }
}

.preview-room {
    padding-top: 10px;
    padding-bottom: 10px;
    &__element-name {
        width: 205px;
        font-weight: 500;
    }
    a {
        line-height: 24px;
        height: 24px;
    }
}