
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
     
$fontConfig: (
  display-4: mat.define-typography-level(112px, 112px, 500, 'Quicksand', -0.0134em),
  display-3: mat.define-typography-level(56px, 56px, 400, 'Quicksand', -0.0089em),
  display-2: mat.define-typography-level(45px, 48px, 400, 'Quicksand', 0.0000em),
  display-1: mat.define-typography-level(34px, 40px, 400, 'Quicksand', 0.0074em),
  headline: mat.define-typography-level(24px, 32px, 400, 'Quicksand', 0.0000em),
  title: mat.define-typography-level(20px, 32px, 500, 'Quicksand', 0.0075em),
  subheading-2: mat.define-typography-level(16px, 28px, 400, 'Quicksand', 0.0094em),
  subheading-1: mat.define-typography-level(15px, 24px, 500, 'Quicksand', 0.0067em),
  body-2: mat.define-typography-level(14px, 24px, 500, 'Montserrat', 0.0179em),
  body-1: mat.define-typography-level(14px, 20px, 400, 'Montserrat', 0.0179em),
  button: mat.define-typography-level(14px, 14px, 500, 'Montserrat', 0.0893em),
  caption: mat.define-typography-level(12px, 20px, 400, 'Montserrat', 0.0333em),
  input: mat.define-typography-level(inherit, 1.125, 400, 'Montserrat', 1.5px)
);

$bemusterung-accent-palette: (
  50 : #f4f1ea,
  100 : #e4dcc9,
  200 : #d2c5a6,
  300 : #bfad82,
  400 : #b29c67,
  500 : #DBC1AC,
  // 500 : #a48a4c,
  600 : #9c8245,
  700 : #92773c,
  800 : #896d33,
  900 : #785a24,
  A100 : #ffe5b8,
  A200 : #ffd285,
  A400 : #ffbf52,
  A700 : #ffb539,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  ));

$bemusterung-primary-palette: (
  50 : #f2f2f1,
  100 : #e0dedc,
  200 : #cbc8c5,
  300 : #b6b2ad,
  400 : #a6a29c,
  500 : #96918a,
  600 : #8e8982,
  700 : #837e77,
  800 : #79746d,
  900 : #68625a,
  A100 : #fdedd9,
  A200 : #fad7a8,
  A400 : #ffc270,
  A700 : #ffb757,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bemusterung2-primary: mat.define-palette($bemusterung-primary-palette, 500, 500);
$bemusterung2-accent: mat.define-palette($bemusterung-accent-palette, 500, 500, 500);

// The warn palette is optional (defaults to red).
$bemusterung2-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$bemusterung2-theme: mat.define-light-theme((
  color: (
    primary: $bemusterung2-primary,
    accent: $bemusterung2-accent,
    warn: $bemusterung2-warn,
  ),
  typography: $fontConfig,
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($bemusterung2-theme);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import './style/reset';
@import './style/bootstrap-overrides';
@import 'bootstrap/scss/bootstrap';
// @import './style/material-theming';
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import 'ngx-toastr/toastr';
@import 'lightgallery/scss/lightgallery';
@import './style/variables';
@import './style/base';
@import './style/custom';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.btn-primary {
    --bs-btn-color: #FFF;
    --bs-btn-hover-color: #FFF;
    --bs-btn-active-color: #FFF;
    --bs-btn-disabled-color: #FFF;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
